<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.veeez">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Veeez">
        <activity
            android:name=".feature.UserEditProfileActivity"
            android:exported="true" />
        <activity android:name=".feature.map.order.postal.PostalShippingActivity" />
        <activity
            android:name=".feature.WaitingActivity"
            android:exported="true" />
        <activity
            android:name=".feature.SimplePostActivity"
            android:exported="true" />
        <activity
            android:name=".feature.FinanntialActivity"
            android:exported="true" />
        <activity
            android:name=".feature.OrderActivity"
            android:exported="true" />
        <activity
            android:name=".feature.WalletActivity"
            android:exported="true" />
        <activity
            android:name=".feature.TermsOfService"
            android:exported="true" />
        <activity
            android:name=".feature.QuestionActivity"
            android:exported="true" />
        <activity
            android:name=".feature.SupportActivity"
            android:exported="true" />
        <activity
            android:name=".feature.AboutusActivity"
            android:exported="true" />
        <activity
            android:name=".feature.MessageActivity"
            android:exported="true" />
        <activity
            android:name=".feature.address.AddressActivity"
            android:exported="true" />
        <activity
            android:name=".feature.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.ProfileActivity" />
        <activity android:name=".feature.auth.verification.ReceiveCodeActivity" />
        <activity android:name=".feature.auth.register.SignUpActivity" />
        <activity android:name=".feature.auth.login.LoginActivity" />
        <activity android:name=".feature.main.MainActivity" />
        <activity
            android:name=".feature.map.DeliveryActivity"
            android:exported="true" />
        <activity android:name=".feature.map.search.SearchActivity" />
        <activity android:name=".feature.map.PostalActivity" />
        <activity android:name=".feature.splash.SplashActivity"></activity>

        <service android:name=".feature.map.SubmitOrderService" />
    </application>

</manifest>